# bcd-japan-integration-service environment variables

# Service
PORT=3004
NODE_ENV=development

# JAL SSO
JAL_SSO_URL=https://john.jal.co.jp/rm_john/sso
JAL_SEAMLESS_ID=HTBBTOS
JAL_ACCESS_CODE=CxDYAb2Qcbxv
JAL_ACUD_ID=JALSELF
JAL_ACUD_PASSWORD=HTBJAL
