# Dependencies
node_modules/

# Build
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.tgz
.npm
integration-service-plan.md
context.md
.cursorrules
.cursor/settings.json
tickets.md
techStack.md
guide/
.cursor/rules/model-usage.mdc
/analysis
/plan
/.cursor
/.github
frontend/ana-sso.html
.gitignore
frontend/jal-sso.html
